!!! 5
html
head
    title Lobster Hotel
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='keywords', content='bootstrap, Templatte bootstrap, Template bootstrap hotel, bootstrap hotel , wrapbootstrap, yobio')
    meta(name='description', content='HTML Responsive, Best HTML template for your hotel website')
    meta(name='author', content='yobio studio')
    link(rel='shortcut icon', href='lobster/images/faicon.png')
    //
       styles Bootsrap 
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet')
    //
       end styles Bootsrap 
    //
       FONTAWESOME STYLE 
    link(rel='stylesheet', href='lobster/css/font/FortAwesome/css/font-awesome.css')
    //if IE 7
      link(rel='stylesheet', href='lobster/css/font/FortAwesome/css/font-awesome-ie7.min.css')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //
       Style Lightbox 
    link(rel='stylesheet', href='lobster/css/light_box/magnific-popup.css')
    //
       End Style Lightbox 
    //
       Style Full Calendar
    link(href='lobster/css/fullcalendar/fullcalendar.css', rel='stylesheet')
    //
       Style Datatatbles
    link(href='lobster/css/datatables/css/jquery.dataTables.css', rel='stylesheet')
    //
       styles Lobster Theme 
    link(href='lobster/css/style.css', rel='stylesheet')
    link(href='lobster/css/color_theme.css', rel='stylesheet')
    //
       place for your custom styles 
    link(href='lobster/css/mystyle.css', rel='stylesheet')
    //
       End Lobster Theme 
  body.theme_default
    #wrapper
      section#top_header
        .inner-wrapper.text_center
          //
            Start Main Navigation
          .togle_menu_mobile
            a.btn.btn-primary.flat(data-toggle='collapse', data-target='.main_navbar')
              i.icon-th-list.icon-2x
            strong   Lobster 
            | Hotel
          nav.main_navbar.collapse
            ul.unstyled
              li.active
                a(href='index.html') Home
              li
                a(href='accomodation.html') Accomodation
              li
                a(href='restuarant.html') Restuarant
              li
                a(href='spa.html') Spa
              li
                a(href='offering.html') Offering
              li
                a(href='events.html') Events
              li
                a(href='reservation.html') Reservations
              li
                a(href='about.html') About Us
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Member
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='login.html') Login
                  li
                    a(href='singup.html') SignUp
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Pages
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='index_simple.html') Home Simple
                  li
                    a(href='blog.html') Blog
                  li
                    a(href='blog_detail.html') Blog Detail
                  li
                    a(href='galeries.html') Galeries
                  li
                    a(href='blank.html') Blank page
                  li
                    a(href='documentation/index.html') Documentation
          //
            ENd Main Navigation
      //
        Start main Title content
      section#content_top
        .bg_content_top.general_bg
          .inner-wrapper.text_center
            h1.no_margin.main_title
              | Welcome
              small To Lobster Hotel
      //
         Start section logo message area 
      section#logo_message_area
        .inner-wrapper
          //
             Start logo image 
          h1.no_margin.logo
            strong Lobster
            small Hotel
          //
             End logo image 
          //
             Start Message Your own 
          .row-fluid
            .span8
              p.no_margin
                | If you don't try taking online bookings, you'll never know how many bookings you are missing
            .span4.text_right
              a.btn.btn-primary.flat
                i.icon-shopping-cart
                | Buy This Template
          //
             End Message Your own 
        .inner-wrapper.driver_space
      //
         End section logo message area 
      //
         Start section content page 
      section#content
        .inner-wrapper
          //
             Begin Content Page 
          .row-fluid
            .span12
              //
                 Start Grid Promotion
              .gridmasonry.promoted_grid
                .item_grid.item3
                  a.promoted(href='#')
                    img(src='lobster/images/interior/5388662544_9e6441ee70.jpg', alt='img_preview')
                    .desc_promo.bottom
                      .panel
                        h4 Get 30% Promotion
                        h4 VIP Room
                .item_grid.item3
                  a.promoted(href='#')
                    img(src='lobster/images/interior/5388055503_bdfec0a3d5.jpg', alt='img_preview')
                    .desc_promo.top
                      .panel
                        h4 Get Weekend Pakage
                        h4 Romantic Room
                .item_grid.item3
                  a.promoted(href='#')
                    img(src='lobster/images/interior/5388661724_e92356d456.jpg', alt='img_preview')
                    .desc_promo.bottom
                      .panel
                        h4 Get Another Promotion
                        h4 Description
              //
                 End  Grid Promotion
              //
                 Start Break Page Style
              .divater
                .line
                span
                  img(src='lobster/images/deviter.png', alt='')
              //
                 End Break Page Style
              .text_center
                h1 Welcome to Our Hotel
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              //
                 Start Break Page Style
              .divater
                .line
                span
                  img(src='lobster/images/deviter.png', alt='')
              //
                 End Break Page Style
              //
                 Start Grid Top Featires
              .row-fluid
                .span4.text_center
                  .boxfeature
                    .img_preview
                      img(src='lobster/images/dot.png', data-src='lobster/images/morguefile/file9401274960472.jpg', alt='img_preview')
                      h4 Best Restaurant
                    .desc
                      p
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                      p
                        a.btn.btn-primary.flat.btn-large Read More
                .span4.text_center
                  .boxfeature
                    .img_preview
                      img(src='lobster/images/dot.png', data-src='lobster/images/morguefile/box_feature.jpg', alt='img_preview')
                      h4 Spa Services
                    .desc
                      p
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                      p
                        a.btn.btn-primary.flat.btn-large Read More
                .span4.text_center
                  .boxfeature
                    .img_preview
                      img(src='lobster/images/dot.png', data-src='lobster/images/morguefile/box_feature2.jpg', alt='img_preview')
                      h4 Amazing View
                    .desc
                      p
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                      p
                        a.btn.btn-primary.flat.btn-large Read More
              //
                 End Grid Top Featires
              //
                 Start Break Page Style
              .divater
                .line
                span
                  img(src='lobster/images/deviter.png', alt='')
              //
                 End Break Page Style
              .row-fluid
                .span6
                  //
                     Start Testimonaila list
                  h3 What Our Custumers Say
                  ul.unstyled.custumer_say
                    li.clearfix
                      img.pull-left.img_client(src='lobster/images/custumers/c1.jpg', alt='image')
                      h4.media-heading Ray O’Sun
                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    li.clearfix
                      img.pull-left.img_client(src='lobster/images/custumers/c2.jpg', alt='image')
                      h4.media-heading Joe Morton 
                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    li.clearfix
                      img.pull-left.img_client(src='lobster/images/custumers/c3.jpg', alt='image')
                      h4.media-heading Jenny Flex
                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    li.clearfix
                      img.pull-left.img_client(src='lobster/images/custumers/c4.jpg', alt='image')
                      h4.media-heading Lupe Lamora
                      p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  //
                     End Testimonaila list
                .span6
                  //
                     Start Events list
                  h3 Last Events
                  ul.unstyled.events
                    li
                      .content_post
                        img.pull-left.img_preview(src='lobster/images/morguefile/file000995479886.jpg', alt='preview')
                        h4 Free Breakfast For all custumers
                        p
                          | Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard .
                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        a.btn.btn-primary.btn-mini.flat(href='#') Read More
                    li
                      .content_post
                        img.pull-left.img_preview(src='lobster/images/morguefile/file000995479886.jpg', alt='preview')
                        h4 Free Breakfast For all custumers
                        p
                          | Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard .
                        p
                          | Lorem Ipsum is simply dummy text of the printing and typesetting industryy text of the printing and typesetting industryy text of the printing and typesetting industry.
                        a.btn.btn-primary.btn-mini.flat(href='#') Read More
                  //
                     End Events list
          //
             End Content Page 
      //
         End section content page 
      //
        Start Footer Section
      footer#footer
        .inner-wrapper.driver_space
        .inner-wrapper.content
          .row-fluid
            .span3
              h3
                | About
                span.font_hotel Us
              p Phasellus fringilla suscipit risus nec eleifend. 
              //
                Start List Contact Info
              ul.unstyled.contact_info
                li.location
                  | 12345 / Some Street
                  br
                  | Portland, USA
                li.phone
                  | phone: +1 (44)  123-45-67
                  br
                  | fax: +1 (44)  123-45-63
                li.skype
                  a(href='skype:echo123?call') Skype Me
              //
                End List Contact Info
              h3
                | Stay Connect
                span.font_hotel  Socials
              //
                Start List Links Social Network
              .link_socials
                a(href='#')
                  img(src='lobster/images/icons/facebook.png', alt='network')
                a(href='#')
                  img(src='lobster/images/icons/twitter.png', alt='network')
                a(href='#')
                  img(src='lobster/images/icons/google-plus.png', alt='network')
                a(href='#')
                  img(src='lobster/images/icons/vimeo.png', alt='network')
                a(href='#')
                  img(src='lobster/images/icons/youtube.png', alt='network')
              //
                End List Links Social Network
            .span2
              h3
                | Page
                span.font_hotel  Links
              //
                Start List Link pages
              ul.link_list_footer
                li
                  a(href='#') Home
                li
                  a(href='#') Accomodation
                li
                  a(href='#') Restaurant
                li
                  a(href='#') Spa
                li
                  a(href='#') Offering
                li
                  a(href='#') Events
                li
                  a(href='#') Reservation
                li
                  a(href='#') Location
                li
                  a(href='#') Room VIP
                li
                  a(href='#') Room Deluxe
                li
                  a(href='#') Room Standart
              //
                End List Link pages
            .span3
              h3
                | Latest
                span.font_hotel  Promotion
              //
                Start List Links Promotion
              ul.link_list_footer
                li
                  a(href='#')
                    | Get
                    strong 30%
                    | promotion
                    strong VIP
                    | room just for today
                li
                  a(href='#')
                    | Get
                    strong 30%
                    | promotion
                    strong Deluxe 
                    | room for a limited time
                li
                  a(href='#')
                    | Get
                    strong 30%
                    | promotion
                    strong Economis
                    | room for a limited time
                li
                  a(href='#')
                    | Get
                    strong 30%
                    | promotion
                    strong Standart
                    | room for a limited time
                li
                  a(href='#')
                    | Get
                    strong 30%
                    | promotion
                    strong Standart
                    | room for a limited time
              //
                End List Links Promotion
            .span4
              h3
                | Our
                span.font_hotel Galeries
              //
                Start List Grid Galeries img
              .gridmasonry.galeries_footer
                .item_grid.item3
                  a(href='lobster/images/interior/5388055503_bdfec0a3d5.jpg', title='Image Title')
                    .hover
                    img(src='lobster/images/interior/5388055503_bdfec0a3d5.jpg', alt='img_preview')
                .item_grid.item3
                  a(href='lobster/images/interior/5388662544_9e6441ee70.jpg', title='Image Title')
                    .hover
                    img(src='lobster/images/interior/5388662544_9e6441ee70.jpg', alt='img_preview')
                .item_grid.item3
                  a(href='lobster/images/interior/5388661724_e92356d456.jpg', title='Image Title')
                    .hover
                    img(src='lobster/images/interior/5388661724_e92356d456.jpg', alt='img_preview')
                .item_grid.item3
                  a(href='lobster/images/interior/5388661724_e92356d456.jpg', title='Image Title')
                    .hover
                    img(src='lobster/images/interior/5388661724_e92356d456.jpg', alt='img_preview')
                .item_grid.item3
                  a(href='lobster/images/interior/5388055503_bdfec0a3d5.jpg', title='Image Title')
                    .hover
                    img(src='lobster/images/interior/5388055503_bdfec0a3d5.jpg', alt='img_preview')
                .item_grid.item3
                  a(href='lobster/images/interior/5388662544_9e6441ee70.jpg', title='Image Title')
                    .hover
                    img(src='lobster/images/interior/5388662544_9e6441ee70.jpg', alt='img_preview')
                .item_grid.item3
                  a(href='lobster/images/interior/5388662544_9e6441ee70.jpg', title='Image Title')
                    .hover
                    img(src='lobster/images/interior/5388662544_9e6441ee70.jpg', alt='img_preview')
                .item_grid.item3
                  a(href='lobster/images/interior/5388661724_e92356d456.jpg', title='Image Title')
                    .hover
                    img(src='lobster/images/interior/5388661724_e92356d456.jpg', alt='img_preview')
                .item_grid.item3
                  a(href='lobster/images/interior/5388055503_bdfec0a3d5.jpg', title='Image Title')
                    .hover
                    img(src='lobster/images/interior/5388055503_bdfec0a3d5.jpg', alt='img_preview')
                .item_grid.item3
                  a(href='lobster/images/interior/5388055503_bdfec0a3d5.jpg', title='Image Title')
                    .hover
                    img(src='lobster/images/interior/5388055503_bdfec0a3d5.jpg', alt='img_preview')
                .item_grid.item3
                  a(href='lobster/images/interior/5388662544_9e6441ee70.jpg', title='Image Title')
                    .hover
                    img(src='lobster/images/interior/5388662544_9e6441ee70.jpg', alt='img_preview')
                .item_grid.item3
                  a(href='lobster/images/interior/5388661724_e92356d456.jpg', title='Image Title')
                    .hover
                    img(src='lobster/images/interior/5388661724_e92356d456.jpg', alt='img_preview')
              //
                End List Grid Galeries img
        //
          Start Sucribe Panel
        .subcrible
          .inner-wrapper
            .row-fluid
              .span3
                h2
                  strong Subscribe
                  | to get
                  span.font_hotel our latest
                  | news
              .span9
                //
                  Start Form Subcribe
                form
                  input.input-block-level(type='text', name='email', placeholder='Enter Your Email')
                  input.btn.flat.btn-primary.btn-large(type='submit', name='send', value='Subcribe')
                //
                  End Form Subcribe
        //
          End Sucribe Panel
        //
          Start Footer Bottom
        .footer_bottom
          .inner-wrapper
            .row-fluid
              .span3
                p.font_hotel Lobster Hotel
              .span3
                //
                  Start List Flags
                .languages
                  ul.unstyled
                    li
                      a(href='#')
                        img(src='lobster/images/flag/germen.png', alt='flag')
                        | Germen
                    li
                      a(href='#')
                        img(src='lobster/images/flag/france.png', alt='flag')
                        | France
                    li
                      a(href='#')
                        img(src='lobster/images/flag/english.png', alt='flag')
                        | English
                //
                  End List Flags
              .span6.text_right
                p Copyright © 2013 yourcompany.com. All Rights Reserved
        //
          End Footer Bottom
        //
          Start Arrow Back To TOP Page
        #back_to_top
          a.localScroll.btn.flat.btn-inverse.hidden-phone(href='#wrapper')
            i.icon-3x.icon-angle-up
        //
          End Arrow Back To TOP Page
      //
        End Footer Section
      //
         Start Control Color Theme 
      .control_color.hidden-phone
        a(href='#', data-color='theme_default')
          img(src='http://placehold.it/30x30/CE4E4A/CE4E4A', alt='')
        a(href='#', data-color='theme_blue')
          img(src='http://placehold.it/30x30/4BAAD3/4BAAD3', alt='')
        a(href='#', data-color='theme_green')
          img(src='http://placehold.it/30x30/2ECC71/2ECC71', alt='')
        a(href='#', data-color='theme_black')
          img(src='http://placehold.it/30x30/000/000', alt='')
      //
         End Control Color Theme 
    //
      =========================================================================
    //
      Load JS source
    //
      =========================================================================
    //
      Load JS JQUERY
    script(src='lobster/js/jquery-1.9.1.min.js')
    script(src='lobster/js/jquery-ui-1.10.2.custom.min.js')
    //
      Load JS Bootstrap
    script(src='bootstrap/js/bootstrap.min.js')
    //
      =========================================================================
    //
      Load JS plugins
    //
      =========================================================================
    //
      End JS Grid masonry
    script(src='lobster/js/masonry.pkgd.min.js')
    //
      End JS Grid slider sequence
    script(src='lobster/js/jquery.sequence-min.js')
    //
      Load JS scrool smoothest
    script(src='lobster/js/jquery.scrollTo-1.4.3.1-min.js')
    script(src='lobster/js/jquery.localScroll.min.js')
    //
      End JS scrool smoothest
    //
      Load JS Datatables plugin
    script(src='lobster/js/jquery.dataTables.min.js')
    //
      Load JS fullcalendar plugin
    script(src='lobster/js/fullcalendar.min.js')
    //
      Load JS magnific lightbox plugin
    script(src='lobster/js/jquery.magnific-popup.min.js')
    //
      Load JS lazy load image unveil
    script(src='lobster/js/jquery.unveil.min.js')
    //
      Load JS jquery validation 
    script(src='lobster/js/jquery.validate.min.js')
    //
      Load JS jquery shintact remove it if unnecessary
    link(href='documentation/assets/shi_default.min.css', rel='stylesheet')
    script(src='documentation/assets/shi_jquery.min.js')
    //
       end Load JS plugins
    //
      load js cookie #[optional]
    script(src='lobster/js/jquery.cookie.js')
    //
      end load js cookie
    //
      Load JS config application
    script(src='lobster/js/app.js')
    //
      end JS config application
