extend layout
block content
	section#logo_message_area
			.inner-wrapper
					//					 Start logo image 
					h1.no_margin.logo
						strong Lobster
						small Hotel
					//					 End logo image 
					//					 Start Message Your own 
					.row-fluid
						.span8
							p.no_margin
								| Special for
								strong today
								| you will get a suprize.
						.span4.text_right
							a.btn.btn-primary.flat(href='reservation.html')
								i.icon-calendar
								| Booking Now
					//					 End Message Your own 
				.inner-wrapper.driver_space
			//			 End section logo message area 
			//			 Start section content page 
			section#content
				.inner-wrapper
					.row-fluid
						.span12
							//							 Start Grid Galeries 
							.gridmasonry.grid_list_galeries
								.item_grid.item3
									a.image_link(href='images/gallery/of1.jpg')
										.panel
											
											.with_hover
											img(src='images/gallery/of1_thumb.jpg', alt='preview')
								.item_grid.item3
									a.image_link(href='images/gallery/of2.jpg')
										.panel
											
											.with_hover
											img(src='images/gallery/of2_thumb.jpg', alt='preview')
								.item_grid.item3
									a.image_link(href='images/gallery/of3.jpg')
										.panel
											
											.with_hover
											img(src='images/gallery/of3_thumb.jpg', alt='preview')
								.item_grid.item3
									a.image_link(href='images/gallery/of4.jpg')
										.panel
											
											.with_hover
											img(src='images/gallery/of4_thumb.jpg', alt='preview')
								.item_grid.item3
									a.image_link(href='images/gallery/of5.jpg')
										.panel
											
											.with_hover
											img(src='images/gallery/of5_thumb.jpg', alt='preview')
								.item_grid.item3
									a.image_link(href='images/gallery/of6.jpg')
										.panel
											
											.with_hover
											img(src='images/gallery/of6_thumb.jpg', alt='preview')
							//							 End Grid Galeries 
