extend layout
block content
	//section#content_top
		.bg_content_top.general_bg
			.inner-wrapper.text_center
				h1.no_margin.main_title
					img(src="images/logo.png", style="margin-right:10px;")
					| M'armore Inc
					small Exceptional Quality and Service


					
	
	section#logo_message_area
		.inner-wrapper
			
			
			.row-fluid
				.span8
					p.no_margin
						

			
		.inner-wrapper.driver_space
	//
		a End section logo message area 
	//
		a Start section content page 
	section#content
		.inner-wrapper
			section#content_top
				#sequence
					a.sequence-prev(href='#') Prev
						a.sequence-next(href='#') Next
						ul.sequence-canvas.unstyled
							li.animate-in
								.start_anime
									img.bg_slider(src='lobster/images/slider/s1.jpg', alt='preview')
									.box_area_slider	
											.text_center(style="margin-top:70px;")
												h1.no_margin.main_title
													img(src="images/logo.png", style="margin-right:10px;")
													| M'armore Inc
													small Exceptional Quality and Service
							li
								.start_anime
									img.bg_slider(src='lobster/images/slider/s2.jpg', alt='preview')
									.box_area_slider
										.text_center(style="margin-top:70px;")
												h1.no_margin.main_title
													img(src="images/logo.png", style="margin-right:10px;")
													| M'armore Inc
													small Exceptional Quality and Service
			//
				a Begin Content Page 
			.row-fluid
				.span12
					
					.text_center
						h1
						p
							| M’armore, Inc. is a leading stone fabrication and installation company, which specializes in ceramic and marble flooring. M’armore uses in-house crews and exclusive installers.  With over 60 years in combined experience the M'armore team has completed hundreds of projects of different sizes, ranging from reception desks to 12 story hotels.
					//
						a Start Break Page Style
					.divater
						.line
						span
							img(src='lobster/images/deviter.png', alt='')
					//
						a End Break Page Style
					//
						a Start Grid Top Featires
					//
						a Start Grid Promotion
					.gridmasonry.promoted_grid
						.item_grid.item3
							a.promoted(href='#')
								img(src='lobster/images/interior/5388662544_9e6441ee70.jpg', alt='img_preview')
								.desc_promo.bottom
									.panel
										h4 Get 30% Promotion
										h4 VIP Room
						.item_grid.item3
							a.promoted(href='#')
								img(src='lobster/images/interior/5388055503_bdfec0a3d5.jpg', alt='img_preview')
								.desc_promo.top
									.panel
										h4 Get Weekend Pakage
										h4 Romantic Room
						.item_grid.item3
							a.promoted(href='#')
								img(src='lobster/images/interior/5388661724_e92356d456.jpg', alt='img_preview')
								.desc_promo.bottom
									.panel
										h4 Get Another Promotion
										h4 Description
					//
						a End  Grid Promotion
					//
						a Start Break Page Style
					.divater
						.line
						span
							img(src='lobster/images/deviter.png', alt='')
					//
						a End Break Page Style
					.row-fluid
						.span4.text_center
							.boxfeature
								.img_preview
									img(src='lobster/images/dot.png', data-src='lobster/images/morguefile/file9401274960472.jpg', alt='img_preview')
									h4 Best Restaurant
								.desc
									p
										| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
									p
										a.btn.btn-primary.flat.btn-large Read More
						.span4.text_center
							.boxfeature
								.img_preview
									img(src='lobster/images/dot.png', data-src='lobster/images/morguefile/box_feature.jpg', alt='img_preview')
									h4 Spa Services
								.desc
									p
										| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
									p
										a.btn.btn-primary.flat.btn-large Read More
						.span4.text_center
							.boxfeature
								.img_preview
									img(src='lobster/images/dot.png', data-src='lobster/images/morguefile/box_feature2.jpg', alt='img_preview')
									h4 Amazing View
								.desc
									p
										| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
									p
										a.btn.btn-primary.flat.btn-large Read More
					//
						a End Grid Top Featires
					//
						a Start Break Page Style
					.divater
						.line
						span
							img(src='lobster/images/deviter.png', alt='')
					//
						a End Break Page Style
					.row-fluid
						.span12
							//
								a Start Testimonaila list
							h3 What Our Custumers Say
							ul.unstyled.custumer_say
								li.clearfix
									img.pull-left.img_client(src='lobster/images/custumers/c1.jpg', alt='image')
									h4.media-heading Ellen Ratner, Senior Project Manager,  C B Richard Ellis, Inc
									p On many different projects, ranging from 5,000 RSF-200,000 RSF, the stone has always been installed well with virtually little to no punch list. I attribute this to knowledgeable project team/organization and people who follow through on issues. If I have a choice on stone vendors, I will always choose Marmore Inc.
								li.clearfix
									img.pull-left.img_client(src='lobster/images/custumers/c2.jpg', alt='image')
									h4.media-heading Kevin Clark, Director-Government Interiors, James G. Davis Construction Corporation 
									p “Marmore Inc. has been a trusted partner with Davis for over 12 years. We rely on Marmore for our largest and most challenging projects. Marmore can be counted on to ensure that project goals are met or exceeded.”
								li.clearfix
									img.pull-left.img_client(src='lobster/images/custumers/c3.jpg', alt='image')
									h4.media-heading Rusty Todd, Vice President, Bognet Construction
									p “Marmore Inc. goes the extra mile in tracking product and client satisfaction. Marmore installers are very professional and are top notch when it comes to quality installation.”
								li.clearfix
									img.pull-left.img_client(src='lobster/images/custumers/c4.jpg', alt='image')
									h4.media-heading January Adkins, Senior Project Manager, Regency Commercial Construction
									p “Marmore Inc's promise to meeting our highest project requirements is evident and demonstrated daily by their committed staff. Marmore can be counted on to provide creative and innovative ideas to meet the challenges of tight budgets and aggressive schedule all while delivering the highest demands of quality.”
							//
								a End Testimonaila list
						.span4
							//
