!!! 5
html
head
		title Marmore
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='keywords', content='bootstrap, Templatte bootstrap, Template bootstrap hotel, bootstrap hotel , wrapbootstrap, yobio')
		meta(name='description', content='HTML Responsive, Best HTML template for your hotel website')
		meta(name='author', content='yobio studio')
		link(rel='shortcut icon', href='static/images/faicon.png')
		
		link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
		link(href='bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet')
		
		link(rel='stylesheet', href='static/css/font/FortAwesome/css/font-awesome.css')
		//if IE 7
			link(rel='stylesheet', href='static/css/font/FortAwesome/css/font-awesome-ie7.min.css')
		//if lt IE 9
			script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		link(rel='stylesheet', href='static/css/light_box/magnific-popup.css')
		
		link(href='static/css/fullcalendar/fullcalendar.css', rel='stylesheet')
		link(href='static/css/datatables/css/jquery.dataTables.css', rel='stylesheet')
		
		link(href='static/css/style.css', rel='stylesheet')
		link(href='static/css/color_theme.css', rel='stylesheet')
		
		link(href='static/css/mystyle.css', rel='stylesheet')
		
	body.theme_black
		#wrapper
			section#top_header
				.inner-wrapper.text_center
					//						Start Main Navigation
					.togle_menu_mobile
						a.btn.btn-primary.flat(data-toggle='collapse', data-target='.main_navbar')
							i.icon-th-list.icon-2x
						strong   Lobster 
						| Hotel
					nav.main_navbar.collapse
						ul.unstyled
							li.active
								a(href='index.html') Home
							li
								a(href='accomodation.html') Accomodation
							li
								a(href='restuarant.html') Restuarant
							li
								a(href='spa.html') Spa
							li
								a(href='offering.html') Offering
							li
								a(href='events.html') Events
							li
								a(href='reservation.html') Reservations
							li
								a(href='about.html') About Us
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown')
									| Member
									b.caret
								ul.dropdown-menu
									li
										a(href='login.html') Login
									li
										a(href='singup.html') SignUp
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown')
									| Pages
									b.caret
								ul.dropdown-menu
									li
										a(href='index_simple.html') Home Simple
									li
										a(href='blog.html') Blog
									li
										a(href='blog_detail.html') Blog Detail
									li
										a(href='galeries.html') Galeries
									li
										a(href='blank.html') Blank page
									li
										a(href='documentation/index.html') Documentation
			block content
			footer#footer
				.inner-wrapper.driver_space
				.inner-wrapper.content
					.row-fluid
						.span3
							h3
								| About
								span.font_hotel Us
							p Phasellus fringilla suscipit risus nec eleifend. 
							//								Start List Contact Info
							ul.unstyled.contact_info
								li.location
									| 12345 / Some Street
									br
									| Portland, USA
								li.phone
									| phone: +1 (44)  123-45-67
									br
									| fax: +1 (44)  123-45-63
								li.skype
									a(href='skype:echo123?call') Skype Me
							//								End List Contact Info
							h3
								| Stay Connect
								span.font_hotel  Socials
							//								Start List Links Social Network
							.link_socials
								a(href='#')
									img(src='lobster/images/icons/facebook.png', alt='network')
								a(href='#')
									img(src='lobster/images/icons/twitter.png', alt='network')
								a(href='#')
									img(src='lobster/images/icons/google-plus.png', alt='network')
								a(href='#')
									img(src='lobster/images/icons/vimeo.png', alt='network')
								a(href='#')
									img(src='lobster/images/icons/youtube.png', alt='network')
							//								End List Links Social Network
						.span2
							h3
								| Page
								span.font_hotel  Links
							//								Start List Link pages
							ul.link_list_footer
								li
									a(href='#') Home
								li
									a(href='#') Accomodation
								li
									a(href='#') Restaurant
								li
									a(href='#') Spa
								li
									a(href='#') Offering
								li
									a(href='#') Events
								li
									a(href='#') Reservation
								li
									a(href='#') Location
								li
									a(href='#') Room VIP
								li
									a(href='#') Room Deluxe
								li
									a(href='#') Room Standart
							//								End List Link pages
						.span3
							h3
								| Latest
								span.font_hotel  Promotion
							//								Start List Links Promotion
							ul.link_list_footer
								li
									a(href='#')
										| Get
										strong 30%
										| promotion
										strong VIP
										| room just for today
								li
									a(href='#')
										| Get
										strong 30%
										| promotion
										strong Deluxe 
										| room for a limited time
								li
									a(href='#')
										| Get
										strong 30%
										| promotion
										strong Economis
										| room for a limited time
								li
									a(href='#')
										| Get
										strong 30%
										| promotion
										strong Standart
										| room for a limited time
								li
									a(href='#')
										| Get
										strong 30%
										| promotion
										strong Standart
										| room for a limited time
							//								End List Links Promotion
						.span4
							h3
								| Our
								span.font_hotel Galeries
							//								Start List Grid Galeries img
							.gridmasonry.galeries_footer
								.item_grid.item3
									a(href='lobster/images/interior/5388055503_bdfec0a3d5.jpg', title='Image Title')
										.hover
										img(src='lobster/images/interior/5388055503_bdfec0a3d5.jpg', alt='img_preview')
								.item_grid.item3
									a(href='lobster/images/interior/5388662544_9e6441ee70.jpg', title='Image Title')
										.hover
										img(src='lobster/images/interior/5388662544_9e6441ee70.jpg', alt='img_preview')
								.item_grid.item3
									a(href='lobster/images/interior/5388661724_e92356d456.jpg', title='Image Title')
										.hover
										img(src='lobster/images/interior/5388661724_e92356d456.jpg', alt='img_preview')
								.item_grid.item3
									a(href='lobster/images/interior/5388661724_e92356d456.jpg', title='Image Title')
										.hover
										img(src='lobster/images/interior/5388661724_e92356d456.jpg', alt='img_preview')
								.item_grid.item3
									a(href='lobster/images/interior/5388055503_bdfec0a3d5.jpg', title='Image Title')
										.hover
										img(src='lobster/images/interior/5388055503_bdfec0a3d5.jpg', alt='img_preview')
								.item_grid.item3
									a(href='lobster/images/interior/5388662544_9e6441ee70.jpg', title='Image Title')
										.hover
										img(src='lobster/images/interior/5388662544_9e6441ee70.jpg', alt='img_preview')
								.item_grid.item3
									a(href='lobster/images/interior/5388662544_9e6441ee70.jpg', title='Image Title')
										.hover
										img(src='lobster/images/interior/5388662544_9e6441ee70.jpg', alt='img_preview')
								.item_grid.item3
									a(href='lobster/images/interior/5388661724_e92356d456.jpg', title='Image Title')
										.hover
										img(src='lobster/images/interior/5388661724_e92356d456.jpg', alt='img_preview')
								.item_grid.item3
									a(href='lobster/images/interior/5388055503_bdfec0a3d5.jpg', title='Image Title')
										.hover
										img(src='lobster/images/interior/5388055503_bdfec0a3d5.jpg', alt='img_preview')
								.item_grid.item3
									a(href='lobster/images/interior/5388055503_bdfec0a3d5.jpg', title='Image Title')
										.hover
										img(src='lobster/images/interior/5388055503_bdfec0a3d5.jpg', alt='img_preview')
								.item_grid.item3
									a(href='lobster/images/interior/5388662544_9e6441ee70.jpg', title='Image Title')
										.hover
										img(src='lobster/images/interior/5388662544_9e6441ee70.jpg', alt='img_preview')
								.item_grid.item3
									a(href='lobster/images/interior/5388661724_e92356d456.jpg', title='Image Title')
										.hover
										img(src='lobster/images/interior/5388661724_e92356d456.jpg', alt='img_preview')
							//								End List Grid Galeries img
				//					Start Sucribe Panel
				.subcrible
					.inner-wrapper
						.row-fluid
							.span3
								h2
									strong Subscribe
									| to get
									span.font_hotel our latest
									| news
							.span9
								//									Start Form Subcribe
								form
									input.input-block-level(type='text', name='email', placeholder='Enter Your Email')
									input.btn.flat.btn-primary.btn-large(type='submit', name='send', value='Subcribe')
								//									End Form Subcribe
				//					End Sucribe Panel
				//					Start Footer Bottom
				.footer_bottom
					.inner-wrapper
						.row-fluid
							.span3
								p.font_hotel Lobster Hotel
							.span3
								//									Start List Flags
								.languages
									ul.unstyled
										li
											a(href='#')
												img(src='lobster/images/flag/germen.png', alt='flag')
												| Germen
										li
											a(href='#')
												img(src='lobster/images/flag/france.png', alt='flag')
												| France
										li
											a(href='#')
												img(src='lobster/images/flag/english.png', alt='flag')
												| English
								//									End List Flags
							.span6.text_right
								p Copyright © 2013 yourcompany.com. All Rights Reserved
				//					End Footer Bottom
				//					Start Arrow Back To TOP Page
				#back_to_top
					a.localScroll.btn.flat.btn-inverse.hidden-phone(href='#wrapper')
						i.icon-3x.icon-angle-up
				//					End Arrow Back To TOP Page
			//				End Footer Section
			//				 Start Control Color Theme 
			.control_color.hidden-phone
				a(href='#', data-color='theme_default')
					img(src='http://placehold.it/30x30/CE4E4A/CE4E4A', alt='')
				a(href='#', data-color='theme_blue')
					img(src='http://placehold.it/30x30/4BAAD3/4BAAD3', alt='')
				a(href='#', data-color='theme_green')
					img(src='http://placehold.it/30x30/2ECC71/2ECC71', alt='')
				a(href='#', data-color='theme_black')
					img(src='http://placehold.it/30x30/000/000', alt='')
			//				 End Control Color Theme 
		//			=========================================================================
		//			Load JS source
		//			=========================================================================
		//			Load JS JQUERY
		script(src='lobster/js/jquery-1.9.1.min.js')
		script(src='lobster/js/jquery-ui-1.10.2.custom.min.js')
		//			Load JS Bootstrap
		script(src='bootstrap/js/bootstrap.min.js')
		//			=========================================================================
		//			Load JS plugins
		//			=========================================================================
		//			End JS Grid masonry
		script(src='lobster/js/masonry.pkgd.min.js')
		//			End JS Grid slider sequence
		script(src='lobster/js/jquery.sequence-min.js')
		//			Load JS scrool smoothest
		script(src='lobster/js/jquery.scrollTo-1.4.3.1-min.js')
		script(src='lobster/js/jquery.localScroll.min.js')
		//			End JS scrool smoothest
		//			Load JS Datatables plugin
		script(src='lobster/js/jquery.dataTables.min.js')
		//			Load JS fullcalendar plugin
		script(src='lobster/js/fullcalendar.min.js')
		//			Load JS magnific lightbox plugin
		script(src='lobster/js/jquery.magnific-popup.min.js')
		//			Load JS lazy load image unveil
		script(src='lobster/js/jquery.unveil.min.js')
		//			Load JS jquery validation 
		script(src='lobster/js/jquery.validate.min.js')
		//			Load JS jquery shintact remove it if unnecessary
		link(href='documentation/assets/shi_default.min.css', rel='stylesheet')
		script(src='documentation/assets/shi_jquery.min.js')
		//			 end Load JS plugins
		//			load js cookie #[optional]
		script(src='lobster/js/jquery.cookie.js')
		//			end load js cookie
		//			Load JS config application
		script(src='lobster/js/app.js')
		//			end JS config application