extend layout
block content     
      
      //
        End main Title content
      //
         Start section logo message area 
      section#logo_message_area
          .row-fluid
            .span8
              p.no_margin
          //
             End Message Your own 
        .inner-wrapper.driver_space
      //
         End section logo message area 
      //
         Start section content page 
      section#content
        .inner-wrapper
          .row-fluid
            .span12
              h1
                  | OUR
                  strong  SERVICES
                  img(src="images/about/services.jpg")
            p
              | M’armore, Inc. is a leading stone fabrication and installation company, which specializes in ceramic and marble flooring. M’armore uses in-house crews and exclusive installers.  With over 60 years in combined experience the M'armore team has completed hundreds of projects of different sizes, ranging from reception desks to 12 story hotels.
            .divater
              .line
              span
                img(src='lobster/images/deviter.png', alt='')
          .row-fluid
            .span12
              //
                 Start Grid Accomodation 
              .gridmasonry.grid_accomodation
                .item_grid.item2
                  .panel
                    h3 Ceramic Flooring
                    p
                      | Phasellus dictum nulla eu nunc varius pellentesque. Mauris vehicula fringilla nisl porttitor sollicitudin. Suspendisse facilisis metus id neque.
                    .clearfix
                      a.btn.btn-primary.flat.pull-left(href='accomodation_detail.html') Read more
                     
                .item_grid.item2
                  .panel
                    h3 Marble Flooring
                    p
                      | Phasellus dictum nulla eu nunc varius pellentesque. Mauris vehicula fringilla nisl porttitor sollicitudin. Suspendisse facilisis metus id neque.
                    .clearfix
                      a.btn.btn-primary.flat.pull-left(href='accomodation_detail.html') Read more
                      
                .item_grid.item2
                  .panel
                    h3 Stone wall panels
                    p
                      | Phasellus dictum nulla eu nunc varius pellentesque. Mauris vehicula fringilla nisl porttitor sollicitudin. Suspendisse facilisis metus id neque.
                    .clearfix
                      a.btn.btn-primary.flat.pull-left(href='accomodation_detail.html') Read more
                .item_grid.item2
                  .panel
                    h3 Marble columns
                    p
                      | Phasellus dictum nulla eu nunc varius pellentesque. Mauris vehicula fringilla nisl porttitor sollicitudin. Suspendisse facilisis metus id neque.
                    .clearfix
                      a.btn.btn-primary.flat.pull-left(href='accomodation_detail.html') Read more
                .item_grid.item2
                  .panel
                    h3 Lobbies
                    p
                      | Phasellus dictum nulla eu nunc varius pellentesque. Mauris vehicula fringilla nisl porttitor sollicitudin. Suspendisse facilisis metus id neque.
                    .clearfix
                      a.btn.btn-primary.flat.pull-left(href='accomodation_detail.html') Read more
                .item_grid.item2
                  .panel
                    h3 Reception desks
                    p
                      | Phasellus dictum nulla eu nunc varius pellentesque. Mauris vehicula fringilla nisl porttitor sollicitudin. Suspendisse facilisis metus id neque.
                    .clearfix
                      a.btn.btn-primary.flat.pull-left(href='accomodation_detail.html') Read more
                .item_grid.item2
                  .panel
                    h3 Credenzas
                    p
                      | Phasellus dictum nulla eu nunc varius pellentesque. Mauris vehicula fringilla nisl porttitor sollicitudin. Suspendisse facilisis metus id neque.
                    .clearfix
                      a.btn.btn-primary.flat.pull-left(href='accomodation_detail.html') Read more
                .item_grid.item2
                  .panel
                    h3 Kitchen countertops 
                    p
                      | Phasellus dictum nulla eu nunc varius pellentesque. Mauris vehicula fringilla nisl porttitor sollicitudin. Suspendisse facilisis metus id neque.
                    .clearfix
                      a.btn.btn-primary.flat.pull-left(href='accomodation_detail.html') Read more
                .item_grid.item2
                  .panel
                    h3 Bathroom vanities 
                    p
                      | Phasellus dictum nulla eu nunc varius pellentesque. Mauris vehicula fringilla nisl porttitor sollicitudin. Suspendisse facilisis metus id neque.
                    .clearfix
                      a.btn.btn-primary.flat.pull-left(href='accomodation_detail.html') Read more
                .item_grid.item2
                  .panel
                    h3 Fireplace buildups 
                    p
                      | Phasellus dictum nulla eu nunc varius pellentesque. Mauris vehicula fringilla nisl porttitor sollicitudin. Suspendisse facilisis metus id neque.
                    .clearfix
                      a.btn.btn-primary.flat.pull-left(href='accomodation_detail.html') Read more
                .item_grid.item2
                  .panel
                    h3 Shower/jacuzzi surrounds
                    p
                      | Phasellus dictum nulla eu nunc varius pellentesque. Mauris vehicula fringilla nisl porttitor sollicitudin. Suspendisse facilisis metus id neque.
                    .clearfix
                      a.btn.btn-primary.flat.pull-left(href='accomodation_detail.html') Read more
                .item_grid.item2
                  .panel
                    h3 Lobbies
                    p
                      | Phasellus dictum nulla eu nunc varius pellentesque. Mauris vehicula fringilla nisl porttitor sollicitudin. Suspendisse facilisis metus id neque.
                    .clearfix
                      a.btn.btn-primary.flat.pull-left(href='accomodation_detail.html') Read more
                .item_grid.item2
                  .panel
                    h3 Moisture mitigation
                    p
                      | Phasellus dictum nulla eu nunc varius pellentesque. Mauris vehicula fringilla nisl porttitor sollicitudin. Suspendisse facilisis metus id neque.
                    .clearfix
                      a.btn.btn-primary.flat.pull-left(href='accomodation_detail.html') Read more


              //
                 End Grid Accomodation 
      //
         End section content page 
