extend layout
block content		
		section#content_top
		.bg_content_top.general_bg
				.inner-wrapper.text_center
					h1.no_margin.main_title
						| About Us
						small Lorem Ipsum
		//			end main Title content
		//			 Start section logo message area 
		section#logo_message_area
			.inner-wrapper
				//					 Start logo image 
				h1.no_margin.logo
					strong Lobster
					small Hotel
				//					 End logo image 
				//					 Start Message Your own 
				.row-fluid
					.span8
						p.no_margin
							| 
							
					
			.inner-wrapper.driver_space
		//			 End section logo message area 
		//			 Start section content page 
		section#content
			.inner-wrapper
				.row-fluid
					.span12
						h1
							| OUR
							strong  TEAM
						img(src="images/about/TeamCropped.jpg")
						p
							| M’armore, Inc. is a leading stone fabrication and installation company, which specializes in ceramic and marble flooring. M’armore uses in-house crews and exclusive installers.  With over 60 years in combined experience the M'armore team has completed hundreds of projects of different sizes, ranging from reception desks to 12 story hotels.
						.divater
							.line
							span
								img(src='lobster/images/deviter.png', alt='')
						.row-fluid
							.span6

								h2 VICE PRESIDENT
								p
									| Asif Syed- 29 Years Asif Syed is responsible for his teams activities. Mr. Syed is also the face of the company with client meetings.
							.span6
								h2 VP OPERATIONS
								p
									| Mustafa Kucukaydin is responsible for project performance and conceptual project planning. Mr. Kucukaydi is available for advice and support to the project team.

						.row-fluid
							.span6
								h2 PROJECT EXECUTIVE
								p
									| Rehan Hunphy is your primary point of contact. He is responsible for project management, creation, maintenance of project schedule, as well as overseeing the project management team on every aspect of the project and communicating with the other parties on site. 

							.span6
								h2 PROJECT MANAGER
								p
									| Alex Fernandez-Davila is responsible for reviewing projects upon award, entering project into MS Project and updating and tracking all aspects of project progress through MS project. In addition, the project is controlled with every step from project award to final collection in Marmore’s enterprise system.

						.row-fluid
							.span6
								h2 SENIOR PROJECT ANALYST
								p
									| Jennifer is intimately aware of every aspect of the project to this point. Her responsibilities will include updating and supporting the team with current information and changes.

